*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }
  .headerNews{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(src/image/newyork.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
  }
  .h1Header{
    align-items: center;
    color: #fff;
    position: absolute;
    top: 25%;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .image-box{
    position: absolute;
    top:55%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 90vh;
    height: 50vh;
  }
  .image-box img{
    height: 100%;
    position: absolute;
    top: 0%;
    width: 100%;
    object-fit: cover;
  }
  .navigation{
    position: absolute;
    top: 25%;
    left: 60%;
    display: flex;
    
  }
  .barSlide{ 
    width: 50px;
    height: 10px;
    border: 2px solid #fff;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
  }
  .barSlide:hover{
    background: white;

  }
  input[name="r"]{
    position: absolute;
    visibility: hidden;
  }
  .slide {
    width: 500%;
    height: 100%;
    display: flex;
  }
  .blockNews{
    position: relative;
    left: 15%;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 70%;
    height: 34vh;
    background-color: rgb(136, 136, 136);
    margin-bottom: 10vh;
    cursor: pointer;
  }
  .blockNews picture{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  .blockNews picture img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .buttonNews{
    width: 70%;
    height: 5vh;
    display: flex;
    background-color: rgb(158, 158, 158);
    list-style: none;
    justify-content: center;
    text-align: center;
    margin: 0 31vh;
    margin-bottom: 3vh;
    color: #fff;
  }
  .buttonNews li a{
    color: #fff;
  }
  .buttonNews li{
    padding: 10px 0;
    margin-right: 10vh;
    font-size: 20px;
    cursor: pointer;
  }
  .buttonNews li:hover{
    color: rgb(89, 111, 236);
  }
  .insideNews {
    padding-left: 12px;
    padding-right: 12px;
  }