.backgroundPage{
    max-height: 0;
    background-color: black;
    position: relative;
    top: 10vh;
    width: 87.9%;
    left: 25vh;
    height: 100%;
}
.TabBtnReq{
    width: 80%;
    height: 5vh;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
}
.TabBtnReq .AdminBtnReq{
    font-size: 16px;
    width: 100%;
    border: none;
    height: 50%;
    margin-right: 1px;
    color: #fff;
    background-color: green;
    border-radius: 5px;
    position: relative;
    left: 15%;
    cursor: pointer;
}
.TabBtnReq .AdminBtnReq[name="Delete"]{
    background-color: red;
}
.TabBtnReq .AdminBtnReq[name="Decline"]{
    background-color: red;
}
.TabBtnReq .AdminBtnReq[name="Accept"]:hover{
    color: green;
    background-color: white;
}

.TabBtnReq .AdminBtnReq[name="Decline"]:hover{
    color: red;
    background-color: white;
}

.AdminTableCheck{
    margin-top: 3%;
    width: 100%;
    margin-left: 10%;
}
table{
    border-collapse: collapse;
    width: 80%;
    border: 2px solid #000
}
th, td {
    border: 1px solid #000; /* เพิ่มเส้นขอบรอบคอลัมน์ */
    padding: 8px; /* เพิ่มขอบรอบข้อความในคอลัมน์ */
    text-align: center; /* จัดตรงกลางข้อความในคอลัมน์ */
  }

  th {
    background-color: #f2f2f2; /* สีพื้นหลังของส่วนหัวตาราง */
    font-weight: bold; /* ทำให้ข้อความในส่วนหัวตารางเป็นตัวหนา */
  }
  